<form action='/welcome' method='post'>
  <label for='email'>email</label>
    <input type='text' name='email'>
  <label for='url'>password</label>
    <input type='text' name='password'>
  <input type='submit' value='Submit'>
</form>